header {
  box-shadow: 0px -5px 15px black;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
}

main img {
  align-self: center;
  inline-size: 90%;
  max-inline-size: 1000px;
}

div.slider {
  display: flex;
  flex-direction: row;
  /* overflow: auto; */
  overflow: auto;
}

div.slider div.card {
  inline-size: 200px;
}


div.card_photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: 40px;
  block-size: 50px;
  overflow: hidden;
}

img.card {
  margin: 0px;
  padding: 0px;
  block-size: 100%;
}