header {
  box-shadow: 0px -5px 15px black;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
}

main img {
  align-self: center;
  inline-size: 90%;
  max-inline-size: 1000px;
}






/* SLIDER */



div.slider {
  display: inline-flex;
  overflow: auto;


  /* box-shadow: inset 20px 0px 10px 2px rgba(0, 0, 0, 0.5); */
  /* overflow: hidden; */
}

div.slider div.card {
  inline-size: 200px;

  display: flex;
  flex: 0 0 auto;
  flex-direction: column;

  margin: 0px;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;

  position: relative;
}

img.card {
  inline-size: 100%;

  block-size: 300px;
  object-fit: cover;
  border-radius: 20px;
  align-self: center;
}

.card>.badge {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 5px;
  font-weight: bold;
}